body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    height: auto;  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;  
    overflow-x: hidden;  
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('http://10.120.32.84:8000/download/dish_1.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    opacity: 0.2; 
    z-index: -1; 
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.form_container {
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: cursive;
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e08686;
}
nav ul li a.selected {
    color: #e08686;
} 
section {
    padding: 40px 0;
}

.text_container {
    width: 80%;
    margin: 0 auto; 
    padding-top: 50px; 
}

.text_container h1 {
    text-align: center; 
    font-size: 36px;
    margin-bottom: 20px;
}

.text_container p {
    font-size: 18px;
    line-height: 1.6;
}

#add_menu {
    text-align: center;
    padding: 60px 0;
}

footer {
    flex-shrink: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

.hidden {
    display: none;

}

.menu_container{
    position: relative;
    border: 5px solid #2f0707;
    padding:40px;
    border-radius: 20px;
    width: 50%;
    margin: 10px auto;
    background-color: rgba(0, 255, 21, 0.05); 
}
.menu_image{
    width: 300px; 
    height: 200px; 
    border-radius: 20px;
}
.menu_name {
    text-align: center;
}
main {
    flex-grow: 1;
  }

.scrollable-section {
    margin-bottom: auto; 
    height: 60vh; 
    overflow-y: auto; 
    width: 100%;
    margin: 10 auto; 
}

#reservation {
    margin-top: auto; 
    margin-bottom: 10px; 
    width: 100%;
    position: relative;
    left: 10%;
}

#addPromotionContainer {
    text-align: center;
    padding:5px;
}
.promotion_container {
    width: 80%;
    position: relative;
    left: 10%;
    padding:20px;
    background-color: rgb(0, 34, 255, 0.1); 
    margin: 10px;
}

.reservation_container {
    position: relative;
    border: 1px solid #2f0707;
    padding:20px;
    width: 50%;
    margin: 10px auto;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.1); 
}


.button {
    background-color: #333333; 
    border: none; 
    color: white; 
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin: 10px;
}


.button:hover {
    background-color: #7b7979; 
}
